<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd0206.dao.mybatis.mapper.CategoryMapper">

  <cache />
  
   <select id="getCategoryList" resultType="Category">
    SELECT
      CAT_ID AS catId,
      DEAL_ID as dealId,
      NAME,
      DESCRIPTION
    FROM CATEGORY
    WHERE DEAL_ID = #{dealId}
  </select>
  
  <select id="getCategoryListByDealName" resultType="Category">
    SELECT
      CATEGORY.CAT_ID AS catId,
      CATEGORY.DEAL_ID as dealId,
      CATEGORY.NAME,
      CATEGORY.DESCRIPTION
    FROM CATEGORY, DEAL_TYPE
    WHERE CATEGORY.DEAL_ID = DEAL_TYPE.DEAL_ID AND DEAL_TYPE.DEAL_NAME = #{dealName}
  </select>
  
  <select id="getCategory" resultType="Category">
    SELECT
      CAT_ID AS catId,
      DEAL_ID as dealId,
      NAME,
      DESCRIPTION
    FROM CATEGORY
    WHERE CATID = #{catId}
  </select>

</mapper>