<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd0206.dao.mybatis.mapper.DealTypeMapper">

  <cache />
  
   <select id="getDealType" resultType="DealType">
    SELECT
      DEAL_ID AS dealId,
      DEAL_NAME AS dealName,
      DEAL_DESC AS dealDesc
    FROM DEAL_TYPE
  </select>
  
   <select id="getDealTypeList" resultType="DealType">
    SELECT
     DEAL_ID AS dealId,
     DEAL_NAME AS dealName,
     DEAL_DESC AS dealDesc
    FROM DEAL_TYPE
  </select>

</mapper>